{% extends "layout.html" %}

{% block content %}

    <div class="container" style="text-align: center">
        <span style="color:#ff4655">UDAŁO SIĘ POBRAĆ DANE</span>

        <a href="/">
            <div>
                <button class="btn btn--light" style="width: 200px; margin-top:50px">
                  <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <span class="btn__content">POWRÓT</span>
                  </span>
                </button>
            </div>
        </a>
    </div>

{% endblock content %}